main {
  position: relative;
}

div#flex-container {
  display: flex;
  justify-content: center;
}

div.position-relative {
  position: relative;
}

div.position-absolute {
  position: absolute;
}

div#canvas-container {
  z-index: auto;
}

@media (max-width: 509px), (max-height: 619px) {
  div#canvas-container {
    left: 17px;
    top: 17px;
  }
}

@media (min-width: 510px) and (min-height: 620px) {
  div#canvas-container {
    left: 25px;
    top: 26px;
  }
}

@media (min-width: 705px) and (min-height: 855px) {
  div#canvas-container {
    left: 33px;
    top: 36px;
  }
} 

canvas {
  background-color: black;
}

div#image-container {
  z-index: 1;
}

div#button-container {
  width: 100%;
  height: 100%;
  z-index: 99;
  display: flex;
  justify-content: center;
  align-items: center;
}

#button-container button {
  padding-left: 2rem;
  padding-right: 2rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
}