html {
  font-size: 14px;
}

main {
  position: relative;
}

/* Background pattern from Toptal Subtle Patterns */
/* https://www.toptal.com/designers/subtlepatterns */
div#flex-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-image: url("https://cdn.glitch.com/e38ac892-4f4e-45ac-912e-fb4dc1e74e45%2Fcork-board.png?v=1592704940959");
  background-repeat: repeat;
  background-size: 475px;
}

div.position-relative {
  position: relative;
}

div.position-absolute {
  position: absolute;
}

img {
 box-shadow: 12px 12px 12px black;  
}
div#interaction-container {
  z-index: auto;
}

@media (max-width: 509px), (max-height: 619px) {
  div#interaction-container {
    left: 17px;
    top: 17px;
  }

  html {
    font-size: 9px;
  }

  div#credits-container {
    line-height: 1.25rem;
  }
}

@media (min-width: 510px) and (min-height: 620px) {
  div#interaction-container {
    left: 25px;
    top: 26px;
  }

  html {
    font-size: 12px;
  }
}

@media (min-width: 705px) and (min-height: 855px) {
  div#interaction-container {
    left: 33px;
    top: 36px;
  }

  html {
    font-size: 16px;
  }
} 

div#canvas-container {
  z-index: 1;
}

div#button-container {
  z-index: 2;
}

div#gesture-study-container {
  z-index: 0;
}

div#image-container {
  z-index: 1;
}

div#credits-container {
  bottom: 0;
  padding: 1rem;
  font-family: 'Permanent Marker', cursive;
  font-size: 1rem;
  z-index: 1;
}

div#button-container {
  width: 100%;
  height: 100%;
  z-index: 99;
  display: flex;
  justify-content: center;
  align-items: center;
}

#button-container button {
  padding-left: 2rem;
  padding-right: 2rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
  cursor: pointer;
  font-family: 'Permanent Marker', cursive;
  display: inline-flex;
  align-items: center;
  border: none;
  box-shadow: 6px 6px 6px black;  
  background-color: #FAE564;
  transform: rotate(0.01turn);
}

button.disappearing {
  display: none;
  transition-property: opacity;
  transition-duration: 0.5s;
  opacity: 0;
}

video#gesture-study {
  object-fit: fill;
}